@import "variables";
@import "libraries";

header {
	.nav-item.active > .nav-link {
		background-color: $eu-gold !important;
		color: black !important;
	}
}

main {
	margin: $height-header auto 0 !important;
	padding: 0 !important;
}

h2 {
	margin-top: $height-header;
}

table {
	th {
		text-align: center;
		vertical-align: middle !important;
	}
	
	tfoot {
		td {
			font-style: italic;
		}
	}
	
	&#table-development {
		th {
			text-align: left !important;
		}
	}
	
	&#table-data {
		td:first-child, td:nth-child(3), .border-right {
			border-right: 1px solid #dee2e6;
		}
		
		tfoot {
			td {
				padding: 0.75rem;
			}
		}
	}
}

#map {
	svg {
		width: 100%;
		height: auto;
		
		g, path {
			fill: #C0C0C0 !important;
			
			&.eu, &.eu path {
				fill: $eu-azure !important;
				
				&.selected {
					fill: $eu-gold !important;
				}
			}
		}
	}
}

.flag {
	border: 1px solid black;
}

#countries {
	.flag {
		height: 2em;
		float: right;
	}
}

#data {
	table {
		.flag {
			width: 2em;
		}
		
		tfoot {
			tr:first-child {
				td {
					border-top: 1px solid black;
				}
			}
		}
	}
}

#graph-share {
	svg {
		text {
			tspan {
				fill: white;
			}
		}
	}
}
