@import "variables";
@import "libraries";

main {
	padding: 0 !important;
}

table {
	th {
		text-align: center;
		vertical-align: middle;
	}
	
	tfoot {
		td {
			font-style: italic;
		}
	}
}

#map {
	svg {
		width: 100%;
		height: auto;
		
		g, path {
			fill: #C0C0C0 !important;
			
			&.eu, &.eu path {
				fill: $eu-azure !important;
				
				&.selected {
					fill: $eu-gold !important;
				}
			}
		}
	}
}

.flag {
	border: 1px solid black;
}

#nav-country {
	.flag {
		height: 2em;
		float: right;
	}
}

#nav-data {
	table {
		.flag {
			width: 2em;
		}
		
		tfoot {
			tr:first-child {
				td {
					border-top: 1px solid black;
				}
			}
		}
	}
}
